In [6]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from pathlib import Path
import os

In [7]:
data_dir = Path("/Users/marlen_raushanov/Desktop/project_1/data/raw")
filename = "AmesHousing_raw.txt"
df_raw = pd.read_csv(data_dir/filename, delimiter = '\t')

In [8]:
df_raw.head(20)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900
5,6,527105030,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,195500
6,7,527127150,120,RL,41.0,4920,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,213500
7,8,527145080,120,RL,43.0,5005,Pave,NaN,IR1,HLS,...,0,NaN,NaN,NaN,0,1,2010,WD,Normal,191500
8,9,527146030,120,RL,39.0,5389,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,3,2010,WD,Normal,236500
9,10,527162130,60,RL,60.0,7500,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,189000
10,11,527163010,60,RL,75.0,10000,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,175900
11,12,527165230,20,RL,NaN,7980,Pave,NaN,IR1,Lvl,...,0,NaN,GdPrv,Shed,500,3,2010,WD,Normal,185000
12,13,527166040,60,RL,63.0,8402,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,180400
13,14,527180040,20,RL,85.0,10176,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,2,2010,WD,Normal,171500
14,15,527182190,120,RL,NaN,6820,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,212000
15,16,527216070,60,RL,47.0,53504,Pave,NaN,IR2,HLS,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,538000
16,17,527225035,50,RL,152.0,12134,Pave,NaN,IR1,Bnk,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,164000
17,18,527258010,20,RL,88.0,11394,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,6,2010,New,Partial,394432
18,19,527276150,20,RL,140.0,19138,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,141000
19,20,527302110,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000

In [9]:
numeric_cols = df_raw.select_dtypes(include=[np.number]).columns
categorical_cols = df_raw.select_dtypes(exclude=[np.number]).columns
df_numeric = df_raw[numeric_cols]
df_categorical = df_raw[categorical_cols]

In [10]:
df_numeric.head(20)

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
0,1,526301100,20,141.0,31770,6,5,1960,1960,112.0,...,210,62,0,0,0,0,0,5,2010,215000
1,2,526350040,20,80.0,11622,5,6,1961,1961,0.0,...,140,0,0,0,120,0,0,6,2010,105000
2,3,526351010,20,81.0,14267,6,6,1958,1958,108.0,...,393,36,0,0,0,0,12500,6,2010,172000
3,4,526353030,20,93.0,11160,7,5,1968,1968,0.0,...,0,0,0,0,0,0,0,4,2010,244000
4,5,527105010,60,74.0,13830,5,5,1997,1998,0.0,...,212,34,0,0,0,0,0,3,2010,189900
5,6,527105030,60,78.0,9978,6,6,1998,1998,20.0,...,360,36,0,0,0,0,0,6,2010,195500
6,7,527127150,120,41.0,4920,8,5,2001,2001,0.0,...,0,0,170,0,0,0,0,4,2010,213500
7,8,527145080,120,43.0,5005,8,5,1992,1992,0.0,...,0,82,0,0,144,0,0,1,2010,191500
8,9,527146030,120,39.0,5389,8,5,1995,1996,0.0,...,237,152,0,0,0,0,0,3,2010,236500
9,10,527162130,60,60.0,7500,7,5,1999,1999,0.0,...,140,60,0,0,0,0,0,6,2010,189000
10,11,527163010,60,75.0,10000,6,5,1993,1994,0.0,...,157,84,0,0,0,0,0,4,2010,175900
11,12,527165230,20,NaN,7980,6,7,1992,2007,0.0,...,483,21,0,0,0,0,500,3,2010,185000
12,13,527166040,60,63.0,8402,6,5,1998,1998,0.0,...,0,75,0,0,0,0,0,5,2010,180400
13,14,527180040,20,85.0,10176,7,5,1990,1990,0.0,...,192,0,0,0,0,0,0,2,2010,171500
14,15,527182190,120,NaN,6820,8,5,1985,1985,0.0,...,0,54,0,0,140,0,0,6,2010,212000
15,16,527216070,60,47.0,53504,8,5,2003,2003,603.0,...,503,36,0,0,210,0,0,6,2010,538000
16,17,527225035,50,152.0,12134,8,7,1988,2005,0.0,...,325,12,0,0,0,0,0,6,2010,164000
17,18,527258010,20,88.0,11394,9,2,2010,2010,350.0,...,113,0,0,0,0,0,0,6,2010,394432
18,19,527276150,20,140.0,19138,4,5,1951,1951,0.0,...,0,0,0,0,0,0,0,6,2010,141000
19,20,527302110,20,85.0,13175,6,6,1978,1988,119.0,...,349,0,0,0,0,0,0,2,2010,210000